@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}

.App {
  @apply flex flex-col min-h-screen;
}

footer {
  @apply mt-auto;
}

section.ceo {
  background: linear-gradient(
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0.7),
      rgba(255, 0, 0, 0.8)
    ),
    url(./imgs/skateboard-group.png) center center/cover no-repeat;
}

section .container {
  @apply py-14;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

section .section-head {
  @apply text-2xl text-center capitalize;
}

section .section-head span {
  @apply text-red-700;
}
