@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}

.App {
  @apply flex flex-col justify-between min-h-screen;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

section .section-head {
  @apply text-2xl text-center capitalize;
}

section .section-head span {
  @apply text-red-700;
}
